.container {
/*	width: 1050px;
	border: 1px solid black;
	position:relative;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;	*/
	margin: 10px ;
}

.stage {
	/*width: 148px;
	display: inline-block;
	position: relative;
	background-color: blue; */
	border: 1px solid #95002B;
	height: 100px;

}

.stagetitle{
	height: 100px;
}

.links{
	display: none;
}

.title{
	height:100px;
}

.stage:hover > .stagetitle {
	postion:absolute;
	z-index:3;
	-webkit-transform: rotateZ(-10deg) translateX(-65%) translateY(10%);
	-webkit-box-shadow: 9px 11px 14px 0px rgba(50, 50, 50, 0.75);

}

.stage:hover > .links {
	display: block;
	margin: 10px;
}
